@use "~scss/mixins/typography" as *;

html {
  @include text-size-adjust(100%);
  display: block;
  width: 100%;
}

body {
  background: var(--very-light-gray);
  display: block;
  // font-family: "Nunito";
  margin: 0 auto;
  max-width: 1920px;
  min-width: 320px;
  position: relative;
  width: 100%;
}

section + section {
  margin-top: 64px;
}

img {
  height: auto;
  max-width: 100%;
  overflow: hidden;
}

iframe {
  display: block;
  max-width: 100%;
  overflow: hidden;
}

hr {
  border: none;
  height: 1px;
  margin: 25px 0;
}

p + p {
  margin-top: 8px;
}

blockquote {
  quotes: "\201E" "\201C" "\2018" "\2019";

  &:before {
    content: open-quote;
  }

  &:after {
    content: close-quote;
  }
}
