@use "~scss/mixins/buttons" as *;

.button,
.u-button {
  @include button;
}

.button--secondary,
.u-button--secondary {
  @include u-button--secondary;
}

.button--white,
.u-button--white {
  @include button;
  background: var(--white);
}

.button--text,
.u-button--text {
  background: transparent;
  border-radius: 0;
  color: initial;
  display: inline-block;
  font-size: initial;
  height: auto;
  padding: 0;
  width: auto;
}
