@use "~scss/mixins/typography" as *;

h1,
.headline--xxl {
  @include headline--xxl;
}

h2,
.headline--xl {
  @include headline--xl;
}

h3,
.headline--l {
  @include headline--l;
}

h4,
.headline--m {
  @include headline--m;
}

h5,
.headline--s {
  @include headline--s;
}

h6,
.headline--xs {
  @include headline--xs;
}

a,
.a {
  @include copy--regular;
}

p,
.p,
.copy--regular {
  @include copy--regular;

  a,
  .a {
    color: inherit;
    text-decoration: underline;
  }
}

.copy--big {
  @include copy--big;
}

.copy--small {
  @include copy--small;
}

.copy--tiny {
  @include copy--tiny;
}

ul,
.ul {
  @include copy--regular;
}

.ul {
  padding-left: 20px;
}

.ol {
  padding-left: 15px;
}

.ol, .ul {
  list-style-position: outside;

  li + li {
    margin-top: 0px;
  }

  & + & {
    margin-top: 30px;
  }
}

.ul li:before {
  color: black;
  content: "\2022";
  display: inline-block;
  margin-left: -0.9em;
  width: 1em;
}

li,
.li {
  @include copy--regular;
}

.u-bold {
  font-weight: bold;
}
