@mixin breakpoint-from($breakpoint-index) {
  $for-sm: "only screen and (min-width: 576px)";
  $for-md: "only screen and (min-width: 768px)";
  $for-lg: "only screen and (min-width: 992px)";
  $for-xl: "only screen and (min-width: 1200px)";
  $for-xxl: "only screen and (min-width: 1440px)";

  @if $breakpoint-index {
    @for $i from 1 through length($breakpoint-index) {
      $breakpoint-index: nth($breakpoint-index, $i);

      @if $breakpoint-index == 1 {
        @media #{$for-sm} { @content; }
      } @else if $breakpoint-index == 2 {
        @media #{$for-md} { @content; }
      } @else if $breakpoint-index == 3 {
        @media #{$for-lg} { @content; }
      } @else if $breakpoint-index == 4 {
        @media #{$for-xl} { @content; }
      } @else if $breakpoint-index == 5 {
        @media #{$for-xxl} { @content; }
      } @else {
        @error "ERROR: breakpoint-from was called with invalid arguments: " + $breakpoint-index;
      }
    }
  } @else {
    @error "ERROR: breakpoint-from was called with invalid arguments: " + $breakpoint-index;
  }
}

@mixin breakpoint-to($breakpoint-index) {
  $for-xs: "only screen and (max-width: 575.98px)";
  $for-sm: "only screen and (max-width: 767.98px)";
  $for-md: "only screen and (max-width: 991.98px)";
  $for-lg: "only screen and (max-width: 1199.98px)";
  $for-xl: "only screen and (max-width: 1439.98px)";

  @if $breakpoint-index {
    @for $i from 1 through length($breakpoint-index) {
      $breakpoint-index: nth($breakpoint-index, $i);

      @if $breakpoint-index == 0 {
        @media #{$for-xs} { @content }
      } @else if $breakpoint-index == 1 {
        @media #{$for-sm} { @content }
      } @else if $breakpoint-index == 2 {
        @media #{$for-md} { @content }
      } @else if $breakpoint-index == 3 {
        @media #{$for-lg} { @content }
      } @else if $breakpoint-index == 4 {
        @media #{$for-xl} { @content }
      } @else {
        @error "ERROR: breakpoint-to was called with invalid arguments: " + $breakpoint-index;
      }
    }
  } @else {
    @error "ERROR: breakpoint-to was called with invalid arguments: " + $breakpoint-index;
  }
}
