.u-font-weight-300 {
  font-weight: 300;
}

.u-font-weight-400 {
  font-weight: 400;
}

.u-font-weight-500 {
  font-weight: 500;
}

.u-font-weight-600 {
  font-weight: 600;
}

.u-font-weight-700 {
  font-weight: 700;
}

.u-text-align-left {
  text-align: left;
}

.u-text-align-center {
  text-align: center;
}

.u-text-align-right {
  text-align: right;
}
