.u-full-width {
  width: 100%;
}

.u-full-height {
  height: 100%;
}

.u-full-size {
  height: 100%;
  width: 100%;
}

.u-full-size-absolute {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}